<div class="bg-mlight min-h-screen flex flex-col items-center">
  <h1 class="text-5xl text-light mt-8">WEB2PDF</h1>
  <div
    class="bg-primary p-10 mt-10 rounded-lg shadow w-80 md:w-3/4 mx-auto lg:w-1/2"
    id="formbody"
  >
    <form [formGroup]="generateWebToPdf">
      <div class="flex flex-col mx-auto">
        <div class="input-group flex flex-col">
          <div>
            <label for="url" class="font-bold url">URL</label>
            <input
              type="text"
              id="url"
              name="url"
              formControlName="url"
              class="w-full rounded-lg p-1"
              required
            />
          </div>
        </div>
        <div class="input-group flex flex-col">
          <div>
            <p>Page Orientation:</p>
            <input
              type="radio"
              id="portrait"
              name="orientation"
              value="portrait"
              formControlName="orientation"
              checked
            />
            <label for="orientation">Portrait</label>
            <input
              type="radio"
              id="landscape"
              name="orientation"
              value="landscape"
              formControlName="orientation"
            />
            <label for="orientation">Landscape</label>
          </div>
        </div>
        <div class="input-group flex flex-col">
          <p>Page Size:</p>
          <div>
            <input
              type="radio"
              id="letter"
              name="pageSize"
              value="letter"
              checked
              formControlName="pageSize"
            />
            <label for="pageSize">Letter</label>
            <input
              type="radio"
              id="legal"
              name="pageSize"
              value="legal"
              formControlName="pageSize"
            />
            <label for="pageSize">Legal</label>
            <input
              type="radio"
              id="A4"
              name="pageSize"
              value="A4"
              formControlName="pageSize"
            />
            <label for="pageSize">A4</label>
            <input
              type="radio"
              id="A5"
              name="pageSize"
              value="A5"
              formControlName="pageSize"
            />
            <label for="pageSize">A5</label>
          </div>
        </div>
        <div class="flex mx-auto mt-5">
          <button
            type="submit"
            (click)="downloadPdf()"
            class="bg-mlight text-light p-3 rounded-lg flex flex-row"
            [disabled]="isloading || !generateWebToPdf.valid"
          >
            @if (!isloading) { Download PDF } @if(isloading) {
            <img src="assets/loader.svg" class="pr-1" alt="" />Processing }
          </button>
        </div>
      </div>
    </form>
  </div>
  @if (alertMessage==="complete") {
  <p class="alertmsg">File downloaded check your downloads..</p>
  }
  @if (alertMessage==="failed") {
  <p class="alertmsg">Something went wrong!!</p>
  }
    <a class="dev flex flex-row" href="https://github.com/saran-mani"
      >Saran codes <img src="assets/github.svg" alt=""
    /></a>
</div>
