p,label,button{
    font-family: "Varela Round", sans-serif;
}
label{
    font-size: 14px;
    padding: 5px;
    color: white;
}
p,.url{
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    color: white;
}
h1{
    font-family: "Varela", sans-serif;
}
.alertmsg{
    font-family: "Varela", sans-serif;
    font-style: italic;
    margin-top: 25px;
    color: white;
    text-align: center;
}
.dev{
    font-family: "Varela", sans-serif;
    font-style: italic;
    position:absolute;
    bottom: 0;
    color: white;
    font-size: larger;
}